.chatbot {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 50vw; /* Use 60% of viewport width */
  height: 60vh; /* Use 60% of viewport height */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(164, 164, 164);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chatbot-messages {
  flex: 1;
  margin-bottom: 16px;
  padding: 8px;
  background-color: rgb(200, 200, 200);
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 5px 0;
  position: relative;
  word-wrap: break-word;
}

.user {
  align-self: flex-end;
  background-color: #dcf8c6; /* Light green for user messages */
  color: #000;
}

.bot {
  align-self: flex-start;
  background-color: #eae5e5; /* Light gray for bot messages */
  color: #000;
}

.chatbot-form {
  display: flex;
}

.chatbot-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 40px;
  font-size: 25px;
}

.chatbot-form button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  margin-left: 8px;
}

.chatbot-form button:hover {
  background-color: #0056b3;
}